@media screen and (max-width: 960px) {
    .contact-container{
       display: flex;
       flex-direction: column;
    }
  }


.contact-container{
    display: flex;
    width: 1000px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    font-family: Roboto Mono, monospace;
}

.contact-info{
    background-color: #3C17CB;
    flex: 0 1 30%;
    display: flex;    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
    color: #dbdbdb;    
    flex-direction: column ; 
    font-family: Roboto Mono, monospace;                                                                                                                                                                            
}

h1{
    text-align: center;
    color: #dbdbdb;
    font-size: 3rem;
}

p.sub-title{
    text-align: center;
    color: #dbdbdb;
    font-size: 1.5rem;
}

h4{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

p{
    color: rgba(255,255,255,.7);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.icon-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.fa{
    flex: 0 0 20px;
    font-size: 1.8rem;  
    margin-right: 2rem;
    color:#05f7ff;
}

.fa:hover{
    color:#dbdbdb;
}

.span{
    font-size: 1.2rem;
    font-weight: 300;
}

.social-media{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

form{
    padding: 50px 50px 50px 50px;
    width: 100%;
}
 
.col{
        display: flex;
        width: 100%;
        flex: 0 0 100%;
}

.form-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 40px;
}

.form-group:nth-child(2){
    padding-right: 0;
}

label{
    font-size:.9;
    color: pink;
    margin-bottom: 1.2rem;
}

input[type="text"],input[type="tel"],input[type="email"],textarea{
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,.2);
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    color: #dbdbdb;
    background: transparent;
    margin-bottom: 2rem ;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #05f7ff;
}

input:hover{
    border: none;
    outline: none;
    border-bottom: 2px solid #05f7ff;
}

textarea:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #05f7ff;
}

textarea:hover{
    border: none;
    outline: none;
    border-bottom: 2px solid #05f7ff;
}


button{
    width: 100px;
    height: 50px;
    cursor: pointer; 
}

.bluredForm  {
    width: 1000px;   
    padding-right: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}





 
  
  
