body {
  background-color: black;
  color: white;
}

a:hover{
  color:white;
}

.full-width {
  width: 100%;
}
#root{
  height: 100%;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

.header-links a:hover{
  color:#ff8000;
}

.navbar li {
  display: inline-block;
  height: 100%;
  padding: 10px;
  font-family: fantasy;
  font-size: 35px;
}

.navbar{
  position: absolute;
  top: 5px;
  right: 0px;
}

.logo{
  position: absolute;
  top: 25px;
  left: 50px;
  font-size:50px
}

