body {
  background-color: black;
  color: white;
}

a:hover{
  color:white;
}

.full-width {
  width: 100%;
}
#root{
  height: 100%;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

.header-links a:hover{
  color:#ff8000;
}

li {
  display: inline-block;
  height: 100%;
  padding: 10px;
}

li  {
  font-family: cursive;
  font-size: 16px;
  text-decoration: none;
}
