body {
  background-color: black;
  color: #dbdbdb;
  width: 100%;
  height: 100%;
}


/* Home */

.home-info{
  padding-left:100px;
  color: #fff;
  display:flex;
  flex-direction: column;
  padding-top: 80px;
}

.home-desc{
  min-height: 0px;
  font-family:  Roboto Mono, monospace;
}

.home-desc-comment{
  color: #A5CD2E;
  font-family:  Roboto Mono, monospace;
}

h1 h2 h3 .home-desc{
  font-size: 60px;
  line-height: 1;
  padding-left: 12px;
  color: #C95656;
}

.tag{
  display: block;
  font-size: 20px;
  color:  #CB0C71;
  font-weight: 800;
  text-shadow: none;
  margin: 3px 0;
  padding-top: 10px;
}

.tag-open{
  display: block;
  font-size: 20px;
  color:  #CB0C71;
  font-weight: 800;
  text-shadow: none;
  margin: 3px 0;
  padding-top: 30px;
}

.tag-close{
  display: block;
  font-size: 20px;
  color:  #CB0C71;
  font-weight: 800;
  text-shadow: none;
  margin: 3px 0;
  padding-bottom: 5px
}

.tag-in{
  display: block;
  font-size: 20px;
  color:  #CB0C71;
  font-weight: 800;
  text-shadow: none;
  margin: 3px 0;
  padding-top: 0px;
  padding-left: 40px;
}

.home-helmet{
  height: 700px;
  width: 700px;
  position: absolute;
  top: -100px;
  padding: 10px;
}


.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px;
}

.column2 {
  float: right;
  width: 50%;
  padding-right: 200px;
  height: 200px;
}

.row:after {
  display: table;
  clear: both;
}



/* About */
.about{
  padding-top: 200px;
}


.skill-tabs {
  column-count: 4;
  column-gap: 200px;
}

.skill-tabs li {
  display: inline-block; /*necessary*/
}

.skills-header{
  text-align: center;
}

#skills-front{
  background-color:yellow;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#skills-back{
  text-align: center;
  background-color: violet;
  color: black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.myself{
  text-align: center;
  font-size: 20px;
  font-family: Roboto Mono, monospace;
}

/* Contact */
.contact{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  display: flex;
}

.contact-heading{
  font-family: Roboto Mono, monospace;   
}


